@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
body {
  font-family: "Rubik", sans-serif;
  background-color: #FDF5F5 !important;
}

nav {
  background-color: white;
}
nav ul li .search {
  position: absolute;
  top: -14%;
  right: 10px;
}
nav ul li .search * {
  outline: none;
  box-sizing: border-box;
}
nav ul li .search__wrapper {
  position: relative;
}
nav ul li .search__field {
  width: 50px;
  height: 50px;
  color: transparent;
  background-color: transparent;
  font-family: Lato, sans-serif;
  font-size: 0.935em;
  padding: 0.35em 50px 0.35em 0;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
nav ul li .search__field:focus {
  border-bottom-color: #ccc;
  width: 15vw;
  color: #2b2b2b;
  cursor: default;
}
nav ul li .search__field:focus ~ .search__icon {
  background-color: transparent;
  cursor: pointer;
  pointer-events: auto;
}
nav ul li .search__icon {
  position: absolute;
  top: 10px;
  right: 0;
  width: 30px;
  height: 30px;
  font-size: 1.1rem;
  text-align: center;
  border-color: transparent;
  border-radius: 50%;
  pointer-events: none;
  display: inline-block;
  transition: background-color 0.2s ease-in-out;
}
nav ul li .search__field::-webkit-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition-property: top, color;
  transition-property: top, color;
  transition-duration: 0.1s;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000;
}
nav ul li .search__field:-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  -moz-transition-property: top, color;
  transition-property: top, color;
  transition-duration: 0.1s;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000;
}
nav ul li .search__field::-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  -moz-transition-property: top, color;
  transition-property: top, color;
  transition-duration: 0.1s;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000;
}
nav ul li .search__field:-ms-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  -ms-transition-property: top, color;
  transition-property: top, color;
  transition-duration: 0.1s;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000;
}
nav ul li .search__field::-webkit-input-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: 0.65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
nav ul li .search__field:-moz-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: 0.65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
nav ul li .search__field::-moz-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: 0.65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
nav ul li .search__field:-ms-input-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: 0.65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
nav .fa-search {
  color: #7C7C7C !important;
}
nav .fa-search:hover {
  color: #d00000 !important;
}

.login {
  background-color: #fdf5f5;
  margin-top: 150px;
  margin-bottom: 20px;
}
.login .box {
  background-color: white;
  width: 550px;
  height: auto;
  padding: 0 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.0509803922);
}
.login .box form {
  padding-top: 30px;
}
.login .box form input {
  width: 100%;
  background-color: #F8F8F8;
  height: 40px;
  border-radius: 8px;
  color: #1e1e24;
  margin-bottom: 20px;
  padding-left: 10px;
}
.login .box form input::-moz-placeholder {
  color: #BEBEBE;
}
.login .box form input:-ms-input-placeholder {
  color: #BEBEBE;
}
.login .box form input::placeholder {
  color: #BEBEBE;
}
.login .box img {
  width: 170px;
  margin: 30px auto;
}
.login .box h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
.login .box .login-btn {
  background: transparent linear-gradient(275deg, #371D71 0%, #D00000 100%) 0% 0% no-repeat padding-box;
  border-radius: 8px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  height: 40px;
  display: block;
  padding-top: 7.5px;
  margin: 0 0 20px;
}
.login .box h5 {
  font-size: 0.938rem;
  font-weight: 400;
  color: #7C7C7C;
}
.login .box .gmail-btn {
  display: block;
  text-align: center;
  text-decoration: none;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #BEBEBE;
  padding-top: 5.5px;
}
.login .box .gmail-btn img {
  width: 18px;
  margin: 0;
}
.login .box .apple-btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  height: 40px;
  border-radius: 8px;
  background-color: black;
  width: 100%;
  padding-top: 5px;
}
.login .box .apple-btn img {
  width: 15px;
  margin: 0;
}
.login .box .chat-btn {
  display: block;
  text-align: center;
  text-decoration: none;
  height: 40px;
  border-radius: 8px;
  background-color: #2DC000;
  padding-top: 5.5px;
}
.login .box .chat-btn img {
  width: 20px;
  margin: 0;
}
.login .box .divider {
  background-color: #EBEBEB;
  height: 0.063rem;
  width: 100%;
  margin-top: 30px;
}
.login .box .link-1 {
  font-size: 0.938rem;
  font-weight: 400;
  color: #7C7C7C;
  text-decoration: underline;
  display: inline-block;
}
.login .box p {
  font-size: 0.938rem;
  font-weight: 400;
  color: #7C7C7C;
}
.login .box p a {
  text-decoration: underline;
  color: #7C7C7C;
  font-weight: 400;
}

.main {
  background: rgb(212, 6, 6);
  background: linear-gradient(157deg, rgb(212, 6, 6) 59%, rgb(55, 28, 113) 100%);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  padding-bottom: 20px;
}
.main .box {
  background-size: auto;
  background-position: left, right;
  background-repeat: no-repeat, no-repeat;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 250px 200px 160px;
  color: white;
}
.main .box h1 {
  font-size: 2.625rem;
  font-weight: 600;
}
.main .box p {
  font-size: 0.938rem;
}
.main a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 0.938rem;
  opacity: 0.7;
  display: inline-block;
}
.main a .fa-angle-down {
  font-size: 2rem;
  font-weight: 100;
}

.slider-1 {
  background-color: white;
  border-radius: 10px;
  margin: 1.25rem;
}
.slider-1 .box {
  padding: 50px 250px;
}
.slider-1 .box h1 {
  font-weight: 600;
}
.slider-1 .nav-pills .nav-link.active {
  background-color: transparent;
  color: #d00000;
  border-bottom: 2px solid #d00000;
  padding-bottom: 5px;
  border-radius: 0;
}
.slider-1 .nav li a {
  color: #1E1E24;
}
.slider-1 .sub-box {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #EBEBEB;
  height: 350px;
  width: 100%;
}
.slider-1 .sub-box .img-height {
  width: 100%;
  height: 200px;
  overflow-y: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}
.slider-1 .sub-box .content {
  height: auto;
  text-align: left;
  padding: 15px;
}
.slider-1 .sub-box .content h4 {
  font-size: 0.938rem;
  font-weight: 400;
}
.slider-1 .sub-box .content h5 {
  font-size: 0.938rem;
  color: #7C7C7C;
  font-weight: 400;
}
.slider-1 .sub-box .content h6 {
  font-size: 0.938rem;
  font-weight: 500;
}
.slider-1 .mySwiper1 {
  padding: 50px 50px 70px;
}
.slider-1 .swiper-pagination-bullet-active {
  width: 30px;
  border-radius: 5px;
  background-color: #d00000;
}
.slider-1 h2 {
  font-size: 1.5rem;
}

.expert {
  background: rgb(212, 6, 6);
  background: linear-gradient(157deg, rgb(212, 6, 6) 0%, rgb(55, 28, 113) 100%);
  padding: 0 50px 50px;
}
.expert .box {
  padding: 70px 300px 0;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
  text-align: center;
}
.expert .box h1 {
  font-weight: 600;
}
.expert .sub-box {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  border-radius: 15px;
  display: flex;
  justify-content: end;
  align-items: flex-start;
  flex-direction: column;
}
.expert .sub-box .content {
  background-color: #202020;
  color: white;
  width: 100%;
  height: 60px;
  padding: 20px 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.expert .sub-box:hover .content {
  height: 150px;
  transition: all 0.5s ease-in-out;
  background-color: white;
  color: #1e1e24;
  padding: 15px;
}
.expert .sub-box:hover h6 {
  display: none;
}

.slider-2 {
  background-color: white;
  border-radius: 10px;
  margin: 20px;
}
.slider-2 .box {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.slider-2 .box h1 {
  font-weight: 600;
}
.slider-2 .box .red {
  display: inline-block;
  width: 150px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  padding-top: 8px;
  background: rgb(212, 6, 6);
  background: linear-gradient(157deg, rgb(212, 6, 6) 0%, rgb(55, 28, 113) 100%);
  color: white;
  border-radius: 6px;
}
.slider-2 .box .white {
  display: inline-block;
  width: 200px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  padding-top: 7.7px;
  background: white;
  color: #d00000;
  border: 2px solid #d00000;
  border-radius: 6px;
}
.slider-2 .box-2 {
  height: 100%;
  padding: 50px;
}
.slider-2 .box-2 .sub-box {
  background: rgb(212, 6, 6);
  background: linear-gradient(157deg, rgb(212, 6, 6) 0%, rgb(55, 28, 113) 100%);
  padding: 50px 50px 30px;
  border-radius: 10px;
  text-align: left;
}
.slider-2 .box-2 .sub-box h3 {
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
}
.slider-2 .box-2 .sub-box p {
  font-size: 1rem;
  color: white;
}
.slider-2 .box-2 .swiper-wrapper {
  padding-bottom: 70px;
}

.slider-3 {
  background: rgb(212, 6, 6);
  background: linear-gradient(157deg, rgb(212, 6, 6) 0%, rgb(55, 28, 113) 100%);
}
.slider-3 .box {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 90px 350px 20px;
}
.slider-3 .box h1 {
  font-weight: 600;
}
.slider-3 .box-2 {
  padding: 0 50px 30px;
}
.slider-3 .box-2 .sub-box {
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
.slider-3 .box-2 .sub-box .content {
  height: 0px;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
  z-index: 9999999999999;
  border-radius: 10px;
  text-align: left;
}
.slider-3 .box-2 .sub-box:hover .content {
  height: inherit;
  padding: 20px;
  opacity: 0.8;
  background-color: #1E1E24;
  color: white;
  transition: all 0.8s ease-in-out;
  border-radius: 10px;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.slider-3 .box-2 .sub-box h5 {
  font-weight: 500;
  font-size: 0.938rem;
}
.slider-3 .box-2 .sub-box p {
  font-weight: 500;
}
.slider-3 .box-2 .swiper-slide {
  background-color: transparent;
}
.slider-3 .box-2 .swiper-wrapper {
  padding-bottom: 50px;
}
.slider-3 .box-2 .swiper-pagination-bullet-active {
  width: 30px;
  border-radius: 5px;
  background-color: white !important;
  opacity: 1;
}

.contact-f {
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  padding: 50px;
}
.contact-f .box {
  padding: 30px 130px 50px 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
}
.contact-f .box h1 {
  font-weight: bold;
  padding-right: 250px;
}
.contact-f .box h6 {
  color: #7C7C7C;
  margin-top: 28px;
}
.contact-f .box form input {
  width: 100%;
  background-color: #F8F8F8;
  height: 50px;
  border-radius: 7px;
  padding-left: 10px;
}
.contact-f .box form input::-moz-placeholder {
  color: #BEBEBE;
  font-size: 15px;
}
.contact-f .box form input:-ms-input-placeholder {
  color: #BEBEBE;
  font-size: 15px;
}
.contact-f .box form input::placeholder {
  color: #BEBEBE;
  font-size: 15px;
}
.contact-f .box form .red {
  background: rgb(212, 6, 6);
  background: linear-gradient(157deg, rgb(212, 6, 6) 0%, rgb(55, 28, 113) 100%);
  height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  display: inline-block;
  padding-top: 8px;
  width: 150px;
  border-radius: 8px;
  margin-top: 30px;
}
.contact-f .sub-box {
  background: rgb(212, 6, 6);
  background: linear-gradient(157deg, rgb(212, 6, 6) 0%, rgb(55, 28, 113) 100%);
  color: white;
  padding: 50px 50px 30px;
  border-radius: 10px;
}
.contact-f .sub-box .con-info {
  padding-left: 0;
  list-style: none;
}
.contact-f .sub-box .con-info li a {
  color: white;
  text-decoration: none;
}
.contact-f .sub-box .socail-icons {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: end;
}
.contact-f .sub-box .socail-icons li {
  padding-right: 15px;
}
.contact-f .sub-box .socail-icons li a {
  color: white;
}

.team {
  margin: 185px 20px 20px;
  background-color: white;
  border-radius: 10px;
  padding-bottom: 50px;
}
.team .box {
  padding: 50px 340px 30px 50px;
}
.team .box h1 {
  font-weight: bold;
}
.team .box p {
  font-weight: 400;
}
.team .box-2 {
  padding: 0 50px;
}
.team .box-3 {
  padding: 50px 50px 50px 0;
}
.team .box-3 h6 {
  font-weight: 400;
}
.team .box-3 p {
  font-weight: 400;
}
.team .box-3 h2 {
  font-weight: 600;
}
.team .content-1, .team .content-2, .team .content-3 {
  display: none;
  transition: all 0.8s ease-in-out;
}

.slider-4 {
  background: rgb(212, 6, 6);
  background: linear-gradient(157deg, rgb(212, 6, 6) 0%, rgb(55, 28, 113) 100%);
  height: auto;
  margin: 125px 20px 20px 20px;
  border-radius: 10px;
  color: white;
  padding-bottom: 30px;
}
.slider-4 .box {
  padding: 50px 50px 20px;
}
.slider-4 .box h2 {
  font-size: 1.5rem;
}
.slider-4 .box-2 {
  padding: 0 50px;
}
.slider-4 .box-2 .sub-box {
  background-color: white;
  border-radius: 10px;
  height: 410px;
  width: 100%;
}
.slider-4 .box-2 .sub-box .img-height {
  width: 100%;
  height: 200px;
  overflow-y: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}
.slider-4 .box-2 .sub-box .content {
  height: auto;
  text-align: left;
  padding: 15px;
}
.slider-4 .box-2 .sub-box .content h4 {
  font-size: 0.938rem;
  font-weight: 500;
  color: black;
}
.slider-4 .box-2 .sub-box .content h5 {
  font-size: 0.938rem;
  color: #7C7C7C;
  font-weight: 400;
}
.slider-4 .box-2 .sub-box .content h6 {
  font-size: 0.938rem;
  font-weight: 500;
  color: black;
}
.slider-4 .box-2 .sub-box .content .black {
  display: inline-block;
  width: 110px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 1.6px solid #2C2C2C;
  color: #171717;
  margin-top: 10px;
  font-weight: 500;
  border-radius: 6px;
  height: 35px;
  padding-top: 5px;
}
.slider-4 .box-2 .swiper-slide {
  background-color: transparent;
}
.slider-4 .swiper-pagination-bullet {
  background-color: white;
  opacity: 0.5;
}
.slider-4 .swiper-pagination-bullet-active {
  background-color: white !important;
  opacity: 1;
}
.slider-4 .swiper-wrapper {
  padding-bottom: 50px;
}

.programe-2 {
  background-color: white;
  margin: 123px 20px 20px 20px;
  border-radius: 10px;
  padding: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.programe-2 .box h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
.programe-2 .box .link {
  color: #7C7C7C;
  text-decoration: none;
}
.programe-2 .box .red {
  background: rgb(212, 6, 6);
  background: linear-gradient(157deg, rgb(212, 6, 6) 0%, rgb(55, 28, 113) 100%);
  color: white;
  height: 40px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  padding-top: 7px;
  display: inline-block;
}
.programe-2 .box-2 {
  padding-top: 15px;
  height: 100%;
}
.programe-2 .box-2 .sub-box {
  background-color: #F8F8F8;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.programe-2 .box-2 .sub-box h5 {
  color: #7C7C7C;
  font-size: 0.938rem;
  text-transform: capitalize;
}
.programe-2 .box-2 .sub-box .fa-star {
  color: #E89005;
}
.programe-2 .box-3 {
  padding-top: 30px;
  height: 100%;
}
.programe-2 .box-3 .left-box {
  height: 100%;
}
.programe-2 .box-3 .left-box h2 {
  font-size: 1.5rem;
}
.programe-2 .box-3 .left-box h5 {
  font-size: 0.938rem;
}
.programe-2 .box-3 .right-box {
  height: 100%;
}
.programe-2 .box-3 .right-box .sub-box {
  padding: 30px;
  background: rgb(212, 6, 6);
  background: linear-gradient(157deg, rgb(212, 6, 6) 0%, rgb(55, 28, 113) 100%);
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 50%;
}
.programe-2 .box-3 .right-box .sub-box h3 {
  font-size: 1.25rem;
}
.programe-2 .box-3 .right-box .sub-box p {
  font-size: 0.938rem;
  opacity: 0.6;
}
.programe-2 .box-3 .right-box .sub-box-2 {
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #BEBEBE;
  height: 50%;
  margin-top: 15px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.programe-2 .box-3 .right-box .sub-box-2 h2 {
  font-size: 1.5rem;
}
.programe-2 .box-3 .right-box .sub-box-2 h3 {
  font-size: 1.25rem;
}

.programe-3 {
  background-color: white;
  margin: 20px;
  border-radius: 10px;
  padding: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.programe-3 h2 {
  font-size: 1.5rem;
}
.programe-3 .box h2 {
  font-size: 1.5rem;
}
.programe-3 .box h3 {
  font-size: 1.25rem;
}
.programe-3 .sub-box {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border: 1px solid #BEBEBE;
  border-radius: 10px;
  text-align: center;
  padding: 30px 0;
}
.programe-3 .sub-box h5 {
  font-size: 1rem;
}
.programe-3 .sub-box h1 .small {
  font-size: 0.9rem !important;
}
.programe-3 .sub-box .fa-star {
  color: #E89005;
}
.programe-3 .sub-box h6 {
  font-size: 0.9rem;
  font-weight: 400;
  color: #171717;
}
.programe-3 .box-3 {
  padding-top: 5px;
}
.programe-3 .box-3 .swiper {
  width: 100%;
  height: 100%;
}
.programe-3 .box-3 .swiper-wrapper {
  padding-bottom: 80px;
}
.programe-3 .box-3 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.programe-3 .box-3 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.programe-3 .box-3 .swiper-pagination {
  text-align: end;
}
.programe-3 .box-3 .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: transparent;
}
.programe-3 .box-3 .swiper-pagination-bullet-active {
  color: #171717;
  background: #E8E8E8 !important;
  opacity: 1;
}
.programe-3 .box-3 .sub-box-2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  height: 100%;
  text-align: left;
  border: 1px solid #BEBEBE;
  border-radius: 10px;
  padding: 30px;
}
.programe-3 .box-3 .sub-box-2 h5 {
  font-size: 1rem;
  color: #BEBEBE;
  font-weight: 400;
}
.programe-3 .box-3 .sub-box-2 .fa-star {
  font-size: 0.9rem;
  color: #E89005;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 50px 50px 5px;
  background: rgb(212, 6, 6);
  background: linear-gradient(157deg, rgb(212, 6, 6) 0%, rgb(55, 28, 113) 100%);
  color: white;
  text-align: center;
}
.footer ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.footer ul li {
  padding: 15px;
}
.footer ul li a {
  color: white;
  text-decoration: none;
}
.footer h6 {
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */